HearingSolutionWebApp/Service References/KioskDataServiceReference/KioskDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KioskDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52666/Services/KioskDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52666/Services/KioskDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52666/Services/KioskDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KioskMessageTypes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKioskDataService_SendTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTransaction" />
  </wsdl:message>
  <wsdl:message name="IKioskDataService_SendTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IKioskDataService_SendHeartbeatMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendHeartbeatMessage" />
  </wsdl:message>
  <wsdl:message name="IKioskDataService_SendHeartbeatMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendHeartbeatMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IKioskDataService">
    <wsdl:operation name="SendTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskDataService/SendTransaction" message="tns:IKioskDataService_SendTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskDataService/SendTransactionResponse" message="tns:IKioskDataService_SendTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendHeartbeatMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IKioskDataService/SendHeartbeatMessage" message="tns:IKioskDataService_SendHeartbeatMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKioskDataService/SendHeartbeatMessageResponse" message="tns:IKioskDataService_SendHeartbeatMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKioskDataService" type="tns:IKioskDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendTransaction">
      <soap:operation soapAction="http://tempuri.org/IKioskDataService/SendTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendHeartbeatMessage">
      <soap:operation soapAction="http://tempuri.org/IKioskDataService/SendHeartbeatMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KioskDataService">
    <wsdl:port name="BasicHttpBinding_IKioskDataService" binding="tns:BasicHttpBinding_IKioskDataService">
      <soap:address location="http://localhost:52666/Services/KioskDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>