HearingSolutionWebApp/Service References/KioskDataServiceReference/KioskDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52666/Services/KioskDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KioskMessageTypes" />
  <xs:element name="SendTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KioskMessageTypes" minOccurs="0" name="transaction" nillable="true" type="q1:TransactionMessageWrap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendHeartbeatMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KioskMessageTypes" minOccurs="0" name="heartbeat" nillable="true" type="q2:HeartbeatMessageWrap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendHeartbeatMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendHeartbeatMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>